.layout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 300px;
    gap:2rem;
}
.mini-post{
    width: 150px;
    height: 150px;
    border: 2px solid #303030;
    border-radius: 5px;
    padding: 2rem;

}